.add_button{ 
display: none;   
 width: 4em;
 height: 4em;
//  line-height: 4em;
 position: absolute;
border-radius: 50%;
 right: 60px;
 top: 100px;
  text-align: center !important;
    i{
       color: #4d62c3;
        font-size: 4em;
        
        
        
        
    }
}
.teacher{
    display: block !important;
}