.group__name{
    
    
    position: fixed;
    // width: 100%;
    width: 70%;
    z-index: 99;
}
.group__content{
    margin-left: 400px !important;
    .all__conversation{
        height: 700px;
        overflow-y: scroll
    }
    .put__question{
       
        input{
            width: 74%;
            margin: 0 auto;
            border: 0;
            
            border-radius: 40px;
            &:focus{
                outline: none;
            }
        }
    }
}

@media screen and (max-width:900px) {
.group__content{
    margin-left: 0 !important;
    .group__name{
        width: 100%;
    }
}
.all__conversation{
    height: 100% !important;
}
.put__question{
    display: none;
}

}
