.group-container{
    margin-left: 400px;
    // margin-right: 200px;
    width: 1000px;
    padding-top: 60px;
}
.group__item{
    text-transform: uppercase;
    height: 300px !important;
    
    padding-top: 100px !important;
    background-color: chartreuse;
    
}