
.sidebar__wrapper{
    font-size: 40px;
     height: 100vh;
    position: fixed;

    z-index: 999;
    // border: solid 1px rgba(0, 0, 0, 0.575);
    border-radius: 2px;
  
    width: 20rem;
   // background: linear-gradient(90deg, rgba(150,92,242,1) 0%, rgba(255,138,220,1) 100%);
    // background-color: ;
    img{
        overflow: hidden;
        border-radius: 50%;
        // border:2px solid rgba(0, 0, 0, 0.795);
    }
    
    .sidebar-li,.sidebar-logout{
        ul{
             padding-left: 0;
        }
        li{
            color: #5d64a5;
            // font-weight: 400 !important;
           &:hover{
               border-left: #007bff 6px solid;
               transition: all .4s;
           } 
             font-size: .5em;
            font-weight: 700;
            list-style: none;
            a{
                text-decoration: none;
               
            }
           
        }
       
    }
    .sidebar-logout{
        padding-top: 240px;

    }
 
}
.show{
//     animation: show ;
//    animation-duration: 1s;
   transform: none !important;
}
.close{
    // animation: close;
    // animation-duration: 1s;
    
}
@keyframes show{
    0%{transform: translateX(-100%)}
    // 50%{transform: translateX(50%)}
     100%{transform: translateX(0%)}

}
@keyframes close{
    0%{transform: translateX(0%)}
    // 50%{transform: translateX(50%)}
     100%{transform: translateX(-100%)}

}

@media screen and (max-width:900px) {
    .sidebar__wrapper{
        // display: none;
        transform: translateX(-100%);
        width: 200px;
        overflow: hidden;
    }
    .profile__wrapper{
        padding-left: 0 !important;
    }
    .container-fluid{
        padding-right: 0 !important;
        padding-top:0;
    }
    .sidebar-logout{
        padding-top: 0 !important;
    }
    
}