@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.btn-pink {
  color: #fff !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='325' height='75' viewBox='0 0 325 75'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='-0.115' y1='0.446' x2='1.099' y2='0.548' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23965cf2'/%3E%3Cstop offset='1' stop-color='%23ff8adc'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect id='Rectangle_88' data-name='Rectangle 88' width='325' height='75' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A") !important;
  border-color: #ff8adc !important;
  transition: all 0.2s;
}

.btn-pink:hover {
  background-color: rgba(255, 138, 220, 0.7) !important;
  border-color: rgba(255, 138, 220, 0.7) !important;
}

.btn-outline-pink {
  color: #ff8adc !important;
  background-color: #fff !important;
  border: 1px solid #ff8adc !important;
  transition: all 0.2s;
}

.btn-outline-pink:hover {
  color: rgba(255, 138, 220, 0.7) !important;
  border-color: rgba(255, 138, 220, 0.7) !important;
}

root {
  --primary-color: rgb(0, 0, 0);
  --overlay-color: rgba(0, 140, 255, 0.85);
  --menu-speed: 0.75s;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

#navbar .collapse .navbar-center .navbar-nav .nav-item a {
  transition: all 0.3s;
}

#navbar .collapse .navbar-center .navbar-nav .nav-item a:hover {
  color: #ff8adc;
}

#navbar .collapse .navbar-center .navbar-nav .active a {
  color: #ff8adc;
}

#navbar .bg-orange {
  color: #fff !important;
  background-color: #ff8adc;
}

#navbar .btn-focus {
  position: relative;
}

#navbar .btn-focus span {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: zoom 1s infinite;
}

@keyframes zoom {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.3;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

#navbar .menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  /*Toggler animate*/
  /*Turn lines into X*/
  /*Rotate on hover when checked*/
  /*show menu*/
}

#navbar .menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

#navbar .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 67px;
  height: 67px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar .menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fac6ea;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

#navbar .menu-wrap .hamburger > div::before,
#navbar .menu-wrap .hamburger > ::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

#navbar .menu-wrap .hamburger > div::after {
  top: 10px;
}

#navbar .menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

#navbar .menu-wrap .toggler:checked + .hamburger > div::before,
#navbar .menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

#navbar .menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  background-color: #fff;
}

#navbar .menu-wrap .toggler:checked ~ .menu {
  opacity: 1;
  visibility: visible;
}

#navbar .menu-wrap .toggler:checked ~ .menu > div {
  transform: translateX(40%);
}

#navbar .menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

#navbar .menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0.404);
}

#navbar .menu-wrap .menu > div {
  background-color: var(--overlay-color);
  border-radius: 0.5;
  width: 60vh;
  height: 100vh;
  display: flex;
  flex: none;
  align-items: left;
  justify-content: left;
  transform: translateX(100%);
  transition: all 0.4s ease;
  background-color: #fff;
}

#navbar .menu-wrap .menu > div > div {
  text-align: left;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#navbar .menu-wrap .menu > div > div > ul {
  width: 60vh;
  padding: 0;
}

#navbar .menu-wrap .menu > div > div > ul > li {
  list-style: none;
  font-size: 17px !important;
  color: black;
  font-size: 1.5rem;
  padding: 0 1rem 0rem 1rem;
}

#navbar .menu-wrap .menu > div > div > ul > li > a {
  color: black;
  font-size: 17px;
  text-decoration: none;
  transition: color 0.4s ease;
}

header {
  position: relative;
  width: 100%;
  height: 850px;
  overflow: hidden;
}

header .svg-img {
  width: 800px;
  height: 800px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='865.591' height='792.083' viewBox='0 0 865.591 792.083'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.405' y1='0.622' x2='0.774' y2='-0.089' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23965cf2'/%3E%3Cstop offset='1' stop-color='%23ff8adc'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='Path_1' data-name='Path 1' d='M1930.337,833.107l-405.162,91.866c-100.67,22.825-205.169-23.7-235.559-114.495l-224.87-671.837h865.591Z' transform='translate(-1064.746 -138.642)' fill-rule='evenodd' opacity='0.5' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  right: 0;
  overflow: hidden;
  transform: scale(1);
}

header .imgItem {
  position: relative;
}

header .imgItem .ban {
  position: absolute;
  animation-name: banF;
  right: 0;
  animation-delay: 0.5s;
  animation-duration: 1s;
  transform: translate(-220px, 390px);
}

header .imgItem .cay {
  position: absolute;
  right: 0;
  animation-name: cayF;
  animation-delay: 0.6s;
  animation-duration: 1s;
  transform: translate(-490px, 150px);
}

header .imgItem .ghe {
  position: absolute;
  right: 0;
  animation-name: gheF;
  animation-delay: 0.7s;
  animation-duration: 1s;
  transform: translate(-270px, 250px);
}

header .imgItem .nguoi {
  position: absolute;
  right: 0;
  animation-delay: 0.8s;
  animation-name: nguoiF;
  animation-duration: 1s;
  transform: translate(-300px, 180px);
}

header .imgItem .den {
  position: absolute;
  right: 0;
  animation-delay: 0.9s;
  animation-name: denF;
  animation-duration: 1s;
  transform: translate(-200px, 280px);
}

header .imgItem img {
  width: 100%;
}

@keyframes banF {
  0% {
    opacity: 0;
    transform: translate(-216px, 396px);
  }
  100% {
    opacity: 1;
    transform: translate(-220px, 390px);
  }
}

@keyframes cayF {
  0% {
    opacity: 0;
    transform: translate(-484px, 156px);
  }
  100% {
    opacity: 1;
    transform: translate(-490px, 150px);
  }
}

@keyframes gheF {
  0% {
    opacity: 0;
    transform: translate(-265px, 256px);
  }
  100% {
    opacity: 1;
    transform: translate(-270px, 250px);
  }
}

@keyframes nguoiF {
  0% {
    opacity: 0;
    transform: translate(-296px, 186px);
  }
  100% {
    opacity: 1;
    transform: translate(-300px, 180px);
  }
}

@keyframes denF {
  0% {
    opacity: 0;
    transform: translate(-196px, 286px);
  }
  100% {
    opacity: 1;
    transform: translate(-200px, 280px);
  }
}

.text-bluedark {
  color: #3e4794 !important;
}

.contact {
  width: 100%;
  /*****animated text End*****/
}

.contact .contact-item {
  position: relative;
  transition: all 0.5s;
}

.contact .contact-item .item-content {
  background-color: rgba(255, 0, 179, 0.863);
}

.contact .contact-item .overGradiant {
  display: none;
  transition: all 0.5s;
}

.contact .contact-item .overGradiant p {
  margin-top: 55%;
}

.contact .contact-item:hover .overGradiant {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  bottom: 0;
  animation-name: runyourLife;
  animation-duration: 1s;
}

@keyframes runyourLife {
  0% {
    opacity: 0;
    transform: translate(-50px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.contact .header-blog,
.contact .call-to-action {
  background-image: url("https://3.bp.blogspot.com/-04vqcpHNiuo/W0x2THLFZXI/AAAAAAAAOl8/DUvOAykZU9Q0rVaRw4nFTWQM-d8__k-agCLcBGAs/s1600/dresscounter.jpg");
}

.contact .header-blog {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 15px 30px 0 rgba(5, 16, 44, 0.15);
}

.contact .bg-animation {
  animation: bg-animation 25s ease-in-out infinite;
}

.contact .header-blog .container {
  height: 100%;
}

.contact .header-row {
  height: 100%;
}

@keyframes type {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

.welcome h1 {
  font-weight: 500;
  position: absolute;
  text-align: center;
  display: block;
  top: 50%;
  width: 100%;
  margin-top: -55px;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  animation: anim 2.5s ease-out forwards 1s;
}

@keyframes anim {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -moz-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg);
  }
  75% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg) translateZ(60px);
  }
  100% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    letter-spacing: 8px;
    -moz-transform: rotateY(0deg) translateZ(100px);
  }
}

.thongTin .welcome {
  width: 100%;
  height: 415px;
  top: 25%;
  border-radius: 5px;
}

.thongTin .pinkbox {
  position: absolute;
  top: -10%;
  width: 50%;
  height: 500px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.thongTin .nodisplay {
  display: none;
  transition: all 0.5s ease;
}

.thongTin .leftbox,
.thongTin .rightbox {
  position: absolute;
  width: 50%;
  transition: 1s all ease;
}

.thongTin .leftbox {
  left: -2%;
}

.thongTin .rightbox {
  right: -2%;
}

.profile__wrapper {
  font-size: 15px;
  padding-top: 15px;
  padding-left: 330px !important;
}

.profile__wrapper .profile__header {
  position: relative;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}

.profile__wrapper .profile__header .profile__info {
  padding-top: 120px;
  padding-left: 30px;
  padding-bottom: 55px;
  display: flex !important;
  align-items: center !important;
  background: transparent;
}

.profile__wrapper .profile__navbar {
  padding-left: 80px;
  position: absolute !important;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-weight: 700;
  padding-top: 6px;
}

.profile__wrapper .profile__navbar:hover {
  background-color: rgba(0, 0, 0, 0.822);
  transition: all linear 0.3s;
}

.profile__wrapper .profile__navbar a {
  color: black;
}

.profile__wrapper .profile__avatar img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.452);
}

.hover {
  color: #fff !important;
}

.hover:hover {
  color: #1488fa !important;
  transition: all 0.5s;
}

.intro {
  border-radius: 5px;
  padding: 10px 50px;
  background-color: #151728;
}

.intro h4 {
  color: black;
}

.intro ul {
  padding-left: 0;
}

.intro ul li {
  list-style: none;
}

.activities {
  cursor: pointer;
  text-align: center;
  background-color: #151728;
  border-radius: 4px;
  color: black;
}

.activities .activities__img {
  width: 95%;
  margin: 0 auto;
}

.activities img {
  padding-top: 20px;
  width: 100%;
}

.info-container {
  display: flex;
}

.info-right .profile__info {
  width: 100%;
  color: #000;
  padding-top: 50px;
  height: 98%;
  border-radius: 4px;
}

.profile__info {
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.profile__info h4 {
  padding: 0.75rem 1.25rem;
}

.profile__info .profile__table {
  width: 100%;
}

.profile__info .profile__table table {
  width: 100%;
}

th,
td {
  padding: 5px 10px;
}

tr {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .profile__header {
    height: 250px !important;
    background-repeat: no-repeat;
    background-size: auto !important;
  }
  .profile__avatar img {
    width: 6rem !important;
    height: 6rem !important;
  }
  .profile__navbar {
    display: none !important;
  }
  .profile__info-general {
    padding-top: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .info-container {
    display: block !important;
  }
  .profile__header {
    height: 180px !important;
    background-size: cover;
  }
  .profile__avatar img {
    width: 50px !important;
    height: 50px !important;
  }
  .profile__info-top {
    padding-top: 100px !important;
    border: none;
    box-shadow: none !important;
  }
  .info-left,
  .info-right {
    padding: 0 !important;
  }
}

.dang-nhap-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(195deg, #71b7e6, #FF8ADC);
}

.dang-nhap-body section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dang-nhap-body section .color {
  position: absolute;
  filter: blur(150px);
}

.dang-nhap-body section .color:nth-child(1) {
  top: -150px;
  width: 40%;
  height: 700px;
  background: #FF8ADC;
}

.dang-nhap-body section .color:nth-child(2) {
  top: -50px;
  left: 0px;
  width: 20%;
  height: 800px;
  background: #fffd87;
}

.dang-nhap-body section .color:nth-child(3) {
  top: 50px;
  right: 0px;
  width: 20%;
  height: 300px;
  background: #00d2ff;
}

.dang-nhap-body section .color:nth-child(4) {
  top: 350px;
  right: 0px;
  width: 10%;
  height: 500px;
  background: #FF8ADC;
}

.dang-nhap-body section .color:nth-child(5) {
  top: 350px;
  right: 0px;
  width: 600px;
  height: 500px;
  background: #fffd87;
}

.dang-nhap-body section .color:nth-child(6) {
  top: 450px;
  left: 0px;
  width: 10%;
  height: 400px;
  background: #00d2ff;
}

.dang-nhap-body section .box {
  position: relative;
}

.dang-nhap-body section .box .containerr {
  position: relative;
  width: 600px;
  min-height: 600px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.dang-nhap-body section .box .containerr .form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.dang-nhap-body section .box .containerr .form h1 {
  position: relative;
  color: #fff;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.dang-nhap-body section .box .containerr .form h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 150px;
  height: 4px;
  background: #fff;
}

.dang-nhap-body section .box .containerr .form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.dang-nhap-body section .box .containerr .form .inputBox p {
  font-size: 20px;
}

.dang-nhap-body section .box .containerr .form .inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 26px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.dang-nhap-body section .box .containerr .form .inputBox input::placeholder {
  color: #fff;
}

.dang-nhap-body section .box .containerr .form .inputBox button {
  background: #fff;
  color: #666;
  max-width: 200px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
  border-radius: 35px;
  padding: 20px 40px;
  font-size: 20px;
}

.dang-nhap-body section .box .containerr .form .forget, .dang-nhap-body section .box .containerr .form .signup {
  margin-top: 5px;
  font-size: 25px;
  color: wheat;
}

.dang-nhap-body section .box .containerr .form .forget a, .dang-nhap-body section .box .containerr .form .signup a {
  color: wheat;
  font-weight: 600;
}

.dang-ky-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(195deg, #71b7e6, #FF8ADC);
}

.dang-ky-body .containerr {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.dang-ky-body .containerr .title {
  font-size: 45px;
  font-weight: 800;
  position: relative;
}

.dang-ky-body .containerr .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100px;
  background: linear-gradient(195deg, #71b7e6, #FF8ADC);
}

.dang-ky-body .containerr form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dang-ky-body .containerr form .user-details .inputBox {
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.dang-ky-body .containerr form .user-details .inputBox p {
  font-size: 20px;
}

.dang-ky-body .containerr form .user-details .inputBox .details {
  display: block;
  font-weight: 800;
  margin-bottom: 5px;
  font-size: 20px;
}

.dang-ky-body .containerr form .user-details .inputBox input {
  width: 100%;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 22px;
}

.dang-ky-body .containerr form .user-details .inputBox input:focus, .dang-ky-body .containerr form .user-details .inputBox input:valid {
  border-color: #9b59b6;
}

.dang-ky-body .containerr button {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 24px;
  font-weight: 800;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(195deg, #71b7e6, #FF8ADC);
  transition: 0.5s;
  margin-top: 20px;
  padding: 10px 0;
}

.dang-ky-body .containerr button:hover {
  background: linear-gradient(-195deg, #71b7e6, #FF8ADC);
}

@media (max-width: 584px) {
  .dang-ky-body .containerr {
    max-width: 100%;
  }
  .dang-ky-body form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .dang-ky-body form .user-details .inputBox {
    margin-bottom: 15px;
    width: 100%;
  }
}

.sidebar__wrapper {
  font-size: 40px;
  height: 100vh;
  position: fixed;
  z-index: 999;
  border-radius: 2px;
  width: 20rem;
}

.sidebar__wrapper img {
  overflow: hidden;
  border-radius: 50%;
}

.sidebar__wrapper .sidebar-li ul, .sidebar__wrapper .sidebar-logout ul {
  padding-left: 0;
}

.sidebar__wrapper .sidebar-li li, .sidebar__wrapper .sidebar-logout li {
  color: #5d64a5;
  font-size: .5em;
  font-weight: 700;
  list-style: none;
}

.sidebar__wrapper .sidebar-li li:hover, .sidebar__wrapper .sidebar-logout li:hover {
  border-left: #007bff 6px solid;
  transition: all .4s;
}

.sidebar__wrapper .sidebar-li li a, .sidebar__wrapper .sidebar-logout li a {
  text-decoration: none;
}

.sidebar__wrapper .sidebar-logout {
  padding-top: 240px;
}

.show {
  transform: none !important;
}

@keyframes show {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 900px) {
  .sidebar__wrapper {
    transform: translateX(-100%);
    width: 200px;
    overflow: hidden;
  }
  .profile__wrapper {
    padding-left: 0 !important;
  }
  .container-fluid {
    padding-right: 0 !important;
    padding-top: 0;
  }
  .sidebar-logout {
    padding-top: 0 !important;
  }
}

.sidebarmobile {
  display: none;
}

.open-sidebar {
  display: block;
}

@media screen and (max-width: 900px) {
  .sidebarmobile {
    display: block;
    position: fixed;
    z-index: 999;
    top: 8px;
    left: 5px;
  }
  .sidebarmobile i {
    color: yellow;
    width: 50px !important;
    height: 50px !important;
  }
  .sidebarmobile i::before {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */